.pagging {
	display: grid;
	grid-template-columns: 40px auto 40px;
	justify-content: center;

	@media (max-width:$xxs) {
		grid-template-columns: 40px 1fr 40px;
		width: 100%;
	}

	// .pagging__arrow

	&__arrow {
		flex: 0 0 40px;
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all 0.3s ease 0s;
		border-radius: 50%;

		@media (max-width:$xxs) {
			flex: 0 0 30px;
			width: 30px;
			height: 30px;
		}

		svg {
			width: 40px;
			height: 40px;

			use {
				fill: none;
				stroke: #fff;
				transition: all 0.3s ease 0s;
			}
		}

		&:hover {
			background-color: var(--dark-yellow);

			use {
				// stroke: #666666;
			}
		}

		// .pagging__arrow_disabled

		&_disabled {
			pointer-events: none;

			svg {
				use {
					stroke: #666666;
				}
			}
		}


	}

	// .pagging__list

	&__list {
		display: flex;
		justify-content: center;
	}

	// .pagging__li

	&__li {
		width: 40px;
		height: 40px;
		flex: 0 0 40px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width:$xxs) {
			flex: 0 0 30px;
			width: 30px;
			height: 30px;
		}

		&:hover {}
	}

	// .pagging__li-dots

	&__li-dots {
		flex: 0 0 40px;
		width: 40px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		@media (max-width:$xxs) {
			flex: 0 0 30px;
			width: 30px;
		}
	}

	// .pagging__item

	&__item {
		width: 100%;
		border-radius: 50%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: inherit;
		font-size: 24px;
		font-weight: 500;
		line-height: 100%;
		transition: all 0.3s ease 0s;

		@media (max-width:$xxs) {
			font-size: 18px;
		}

		&._active,
		&:hover {
			color: #fff;
			background-color: var(--dark-yellow);
		}
	}

	// .pagging__item-dots

	&__item-dots {
		color: inherit;
		font-size: 24px;
		line-height: 100%;

		@media (max-width:$xxs) {
			font-size: 18px;
		}
	}
}