.bs-advantages-block {

   // .bs-advantages-block__container

   &__container {}

   // .bs-advantages-block__title

   &__title {}

   // .bs-advantages-block__grid

   &__grid {}
}

.bs-advantages-block {
   padding: rem(120) 0;

   @media (max-width:$lg) {
      padding: rem(80) 0;
   }

   // .bs-advantages-block__container

   &__container {}

   // .bs-advantages-block__title

   &__title {
      margin-bottom: rem(80);

      @media (max-width:$md) {
         margin-bottom: rem(40);
      }
   }

   // .bs-advantages-block__grid

   &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 32px 24px;

      @media (max-width:$xl) {
         gap: 24px 16px;
         grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }

      @media (max-width:$md) {
         gap: 16px;
         grid-auto-rows: minmax(230px, auto);
      }

      @media (max-width:$sm) {
         grid-template-columns: 1fr;
      }
   }
}

.features {
   background: var(--dark-black);
   padding: rem(120) 0;

   @media (max-width:$md) {
      padding: rem(80) 0;
   }

   // .features__container

   &__container {}

   // .features__title

   &__title {
      margin-bottom: rem(80);

      @media (max-width:$md) {
         margin-bottom: rem(40);
      }
   }

   // .features__row

   &__row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      margin-bottom: rem(120);

      @media (max-width:$lg) {
         grid-template-columns: 1fr;
      }

      @media (max-width:$md) {
         margin-bottom: rem(80);
         gap: 16px;
      }
   }

   // .features__card

   &__card {
      background: var(--dark-gray);
      border-radius: 20px;
      padding: rem(32) rem(53);

      @media (max-width:$xl) {
         padding: rem(24) rem(32);
      }
   }

   // .features__card-image

   &__card-image {
      margin-bottom: rem(24);
      width: 117px;
      height: 117px;

      img {
         max-width: 100%;
      }
   }

   // .features__card-title

   &__card-title {
      font-size: 24px;
      line-height: 130%;
      margin-bottom: rem(10);
   }

   // .features__card-text

   &__card-text {
      font-size: 16px;
      line-height: 120%;
   }

   // .features__subtitle

   &__subtitle {
      font-weight: 700;
      font-size: 40px;
      line-height: 110%;
      margin-bottom: rem(48);

      @media (max-width:$md) {
         font-size: 32px;
         margin-bottom: rem(40);
      }
   }

   // .features__row-cargo

   &__row-cargo {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 24px;

      @media (max-width:$lg) {
         grid-template-columns: 1fr;
         gap: 16px;
      }

      .features__card {
         display: grid;
         grid-template-columns: auto 1fr;
         gap: 16px 40px;
         padding: rem(40);

         @media (max-width:$xl) {
            padding: rem(40) rem(24);
            gap: 16px 24px;
         }

         @media (max-width:$xxs) {
            display: block;
         }
      }

      .features__card-image {
         max-width: 84px;
         margin: 0;
         width: auto;
         height: auto;
         grid-column: 1/2;
         grid-row: 1/3;
         align-self: center;

         @media (max-width:$xxs) {
            margin-bottom: rem(15);
         }
      }

      .features__card-title {
         font-size: 32px;
         margin: 0;

         @media (max-width:$xxs) {
            margin-bottom: rem(10);
            line-height: 110%;
            font-size: 28px;
         }
      }

      .features__card-text {
         font-size: 18px;
         margin: 0;
      }
   }
}