// Заголовки, общие БЄМ блоки и проче...
.btn-red {
   border-radius: 20px;
   padding: 15px;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   // text-align: center;
   text-align: left;
   position: relative;
   background-clip: padding-box;
   z-index: 1;
   height: 90px;
   border: 4px solid transparent;

   @media (max-width:$xxs) {
      font-size: 20px;
   }

   img {
      margin-right: rem(16);

      @media (max-width:$xxs) {
         width: 28px;
         height: 28px;
         flex: 0 0 28px;

      }
   }

   &::before,
   &::after {
      content: '';
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
   }

   &::after {
      background: var(--light-red);
      border-radius: 16px;
      z-index: -1;
   }

   &::before {
      border-radius: 20px;
      z-index: -1;
      margin: -4px;
      transition: background-position 0.3s ease 0s;
      background: linear-gradient(to right, #F5EAB8, #AB8636);
      background: linear-gradient(90deg, rgba(245, 234, 184, 1) 0%, rgba(171, 134, 54, 1) 50%, rgba(245, 234, 184, 1) 100%);
      background-size: 200% 100%;
      background-position: 0 0;
   }

   @media (any-hover: hover) {
      &:hover {
         &::before {
            background-position: 100% 0;
         }
      }
   }

   &:active {
      &::before {
         background: var(--light-yellow);
      }
   }
}

.arrow-link-big {
   white-space: nowrap;
   display: flex;
   align-items: center;
   gap: 24px;
   font-size: 24px;
   transition: all 0.3s ease 0s;

   &::after {
      transition: all 0.3s ease 0s;
      content: '';
      flex: 0 0 82px;
      width: 82px;
      height: 16px;
      display: block;
      background: url(@img/arrow-link-big.svg) right no-repeat;
   }

   @media (any-hover: hover) {
      &:hover {
         font-size: 26px;

         &::after {
            flex: 0 0 122px;
            width: 122px;
         }

         @media (max-width:$xs) {
            font-size: 24px;

            &::after {
               flex: 0 0 90px;
               width: 90px;
            }

         }
      }
   }
}

.arrow-link {
   display: flex;
   align-items: center;
   gap: 24px;
   font-size: 18px;
   transition: all 0.3s ease 0s;

   &::after {
      transition: all 0.3s ease 0s;
      content: '';
      flex: 0 0 43px;
      width: 43px;
      height: 13px;
      display: block;
      background: url(@img/arrow-link.svg) right no-repeat;
   }

   @media (any-hover: hover) {
      &:hover {
         font-size: 20px;

         &::after {
            flex: 0 0 63px;
            width: 63px;
         }
      }
   }
}

.adv-card {
   background: var(--light-red);
   border-radius: 20px;
   padding: rem(30) rem(52) rem(30) rem(30);
   position: relative;
   overflow: hidden;
   min-height: 167px;

   @media (max-width:$xxl) {
      padding: rem(24) rem(45) rem(46) rem(31);
   }

   @media (max-width:$sm) {
      padding: rem(24) rem(61) rem(22) rem(31);
   }

   // .adv-card__title

   &__title {
      font-size: 24px;
      margin-bottom: rem(16);
   }

   // .adv-card__text

   &__text {
      font-size: 18px;
      line-height: 127%;
      position: relative;
      z-index: 2;

      // &::before {
      //    content: '';
      //    position: absolute;
      //    background: linear-gradient(135deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3225665266106442) 70%);
      //    background: linear-gradient(270deg, rgba(24, 24, 24, 0.6) 0%, rgba(24, 24, 24, 0.4) 70.5%, rgba(24, 24, 24, 0) 100%);
      //    z-index: -1;
      //    top: -30px;
      //    left: -30px;
      //    width: 482px;
      //    height: 570px;
      // }
   }

   // .adv-card__number

   &__number {
      font-family: var(--second-family);
      font-size: 180px;
      line-height: 95%;
      color: var(--light-yellow);
      position: absolute;
      right: -1px;
      bottom: -84px;
      z-index: 1;


      &::before {
         content: '';
         position: absolute;
         top: 68%;
         left: 69%;
         width: 314px;
         height: 314px;
         display: block;
         transform: translate(-50%, -50%);
         background: url(@img/adv-card-star.svg);
         z-index: -1;
      }
   }
}

.text-card {
   border-radius: 20px;
   padding: rem(30) rem(24);
   display: grid;
   grid-template-columns: 50px 1fr;
   gap: 16px;
   align-items: center;

   @media (max-width:$xxl) {
      padding: rem(24) rem(20);
   }

   @media (max-width:$xxs) {
      padding: rem(18);
   }

   // .text-card_gold

   &_gold {
      background: var(--dark-yellow);
   }

   // .text-card_red

   &_red {
      background: var(--light-red);
   }

   // .text-card__icon

   &__icon {
      width: 50px;
      height: 50px;

      img {
         max-width: 100%;
      }
   }

   // .text-card__text

   &__text {
      font-size: 24px;
      line-height: 125%;

      @media (max-width:$xxs) {
         font-size: 20px;
      }
   }
}

.main-title {
   font-family: var(--second-family);
   font-size: 80px;
   line-height: 100%;

   @media (max-width:$md) {
      font-size: 52px;
   }
}

.note {
   display: flex;
   max-width: 545px;
   gap: 8px;
   font-size: 18px;
   line-height: 120%;
}

.request-price {
   display: grid;
   grid-template-columns: repeat(2, minmax(auto, 546px));
   gap: 24px;

   // .request-price__btn

   &__btn {
      text-align: left;
   }

   @media (max-width:$md) {
      grid-template-columns: 1fr;
      gap: 16px;
   }
}

.work-stages {
   padding: rem(120) 0;

   @media (max-width:$lg) {
      padding: rem(80) 0;
   }

   // .work-stages__container

   &__container {}

   // .work-stages__title

   &__title {
      margin-bottom: rem(80);

      @media (max-width:$md) {
         margin-bottom: rem(40);
      }
   }

   // .work-stages__grid

   &__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 1fr;
      gap: 113px 25px;

      @media (max-width:$xxl) {
         gap: 113px 0px;
         grid-template-columns: repeat(3, 1fr);
      }

      @media (max-width:$xl) {
         grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width:$md) {
         grid-template-columns: 1fr;
         grid-auto-rows: auto;
         gap: 40px;
      }
   }

   // .work-stages__item

   &__item {
      position: relative;
      padding-left: rem(56);
      padding-bottom: rem(40);

      @media (max-width:$md) {
         padding-left: rem(48);
      }

      @media (max-width:$xxs) {
         padding-left: rem(40);
      }

      &::before {
         content: '';
         position: absolute;
         display: block;
         width: 100%;
         height: 1px;
         top: 52px;
         left: 0;
         border-bottom: 1px solid #fff;
      }

      &::after {
         border-radius: 7px;
         content: '';
         position: absolute;
         left: 0;
         top: 0;
         height: 100%;
         width: 24px;
         background: var(--light-red);
         z-index: 2;
      }

      @media (min-width:$md) {

         &:nth-child(1),
         &:nth-child(2),
         &:nth-child(3),
         &:nth-child(4) {
            &::before {
               width: calc(100% + 500px);

            }
         }

         &:nth-child(5),
         &:nth-child(6),
         &:nth-child(7) {
            &::before {
               width: calc(100% + 500px);
               left: -500px;
            }
         }

         @media (max-width:$xxl) {
            &:nth-child(6) {
               &::before {
                  left: 0;
               }
            }
         }

         @media (max-width:$xl) {
            &:nth-child(3) {
               &::before {
                  left: -500px;
               }
            }
         }
      }
   }

   // .work-stages__item-num

   &__item-num {
      font-weight: 700;
      font-size: 40px;
      line-height: 110%;
      margin-bottom: rem(8);
   }

   // .work-stages__item-descr

   &__item-descr {
      padding-top: rem(32);
      max-width: 306px;

      @media (max-width:$md) {
         max-width: 100%;
      }
   }

   // .work-stages__item-title

   &__item-title {
      font-weight: 700;
      font-size: 40px;
      line-height: 110%;
      margin-bottom: rem(16);

      @media (max-width:$xxs) {
         font-size: 34px;
      }
   }

   // .work-stages__item-text

   &__item-text {
      font-size: 18px;
      line-height: 115%;

      a {
         font-weight: 500;
         color: #7eddff;

         &:hover {
            text-decoration: underline;
         }
      }

      p {
         &:not(:last-child) {
            margin-bottom: rem(10);
         }
      }
   }

   // .work-stages__last-image

   &__last-image {
      justify-self: end;

      @media (max-width:$xl) {
         justify-self: center;
      }
   }
}

.page-form {
   padding-top: rem(120);
   padding-bottom: rem(88);
   background: var(--dark-black) url('@img/page-form-bg.svg') bottom center repeat-x;
   position: relative;

   @media (max-width:$xl) {
      padding-bottom: rem(120);
      background: var(--dark-black) url("../img/page-form-bg.svg") bottom center / 2946px 1337px repeat-x;
   }

   @media (max-width:$lg) {
      padding: rem(80) 0;
   }

   &::after {
      content: '';
      position: absolute;
      width: 327px;
      height: 128px;
      top: 72px;
      left: 1567px;
      background: url('@img/cloud.svg') 0 0 no-repeat;
   }

   // .page-form__container

   &__container {
      display: grid;
      grid-template-columns: minmax(auto, 825px) 669px;
      gap: 102px;

      @media (max-width:$xxl) {
         gap: 19px;
      }

      @media (max-width:$xl) {
         gap: 80px;
         grid-template-columns: minmax(auto, 669px);
      }

      @media (max-width:$lg) {
         gap: 40px;
      }
   }

   // .page-form__content

   &__content {}

   // .page-form__title

   &__title {
      margin-bottom: rem(24);
   }

   // .page-form__text

   &__text {
      font-size: 24px;
      line-height: 120%;
      max-width: 511px;
   }

   // .page-form__form

   &__form {
      border-radius: 20px;
      padding: rem(80) rem(57);
      backdrop-filter: blur(10px);
      background: rgba(52, 52, 52, 0.7);

      @media (max-width:$sm) {
         padding: rem(40) rem(16);
         margin: 0px rem(-16);
         border-radius: 0;
      }
   }
}

.news-card {
   // max-width: 402px;

   // .news-card__image-ibg

   &__image-ibg {
      border-radius: 20px;
      overflow: hidden;
      width: 100%;
      margin-bottom: rem(32);
      height: 245px;

      @media (max-width:$xxl) {
         height: 165px;
      }

      @media (max-width:$xl) {
         height: 181px;
      }

      @media (max-width:$md) {
         height: 209px;
      }
   }

   // .news-card__date

   &__date {
      font-size: 16px;
      margin-bottom: rem(8);
   }

   // .news-card__title

   &__title {
      font-size: 24px;
      line-height: 120%;
   }
}

.news-feed {
   padding: rem(120) 0;

   @media (max-width:$lg) {
      padding: rem(80) 0;
   }

   // .news-feed__container

   &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      gap: rem(40);

      @media (max-width:$md) {
         grid-template-columns: 1fr;
      }
   }

   // .news-feed__title

   &__title {}

   // .news-feed__slider

   &__slider {
      min-width: 0;

      @media (min-width:$md) {
         grid-row: 2;
         grid-column: 1/3;
      }
   }

   // .news-feed__slider-nav

   &__slider-nav {
      margin-bottom: rem(40);
      justify-content: flex-end;

      @media (max-width:$md) {
         justify-content: flex-start;
      }
   }

   // .news-feed__wrapper

   &__wrapper {}

   // .news-feed__slide

   &__slide {
      @media (max-width:$sm) {
         .news-card__image-ibg {
            height: 155px;
         }
      }
   }

   // .news-feed__link

   &__link {
      justify-self: end;

      @media (max-width:$md) {
         justify-self: start;
      }
   }
}

.faq-block {
   background: var(--dark-black);
   padding: rem(120) 0;

   @media (max-width:$lg) {
      padding: rem(80) 0;
   }

   // .faq-block__container

   &__container {}

   // .faq-block__title

   &__title {
      margin-bottom: rem(80);

      @media (max-width:$md) {
         margin-bottom: rem(40);
      }
   }

   // .faq-block__grid

   &__grid {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 120px;

      @media (max-width:$xxl) {
         gap: 95px;
      }

      @media (max-width:$xl) {
         gap: 78px;
      }

      @media (max-width:$lg) {
         display: block;
      }
   }

   // .faq-block__spollers

   &__spollers {}

   // .faq-block__item

   &__item {
      &:not(:last-child) {
         margin-bottom: rem(24);

         @media (max-width:$lg) {
            margin-bottom: rem(16);
         }
      }
   }

   // .faq-block__item-title

   &__item-title {
      border-radius: 18px;
      padding: 16px 28px 16px 24px;
      font-size: 24px;
      line-height: 120%;
      width: 100%;
      text-align: left;
      background: var(--dark-yellow);
      display: grid;
      grid-template-columns: minmax(auto, 796px) 40px;
      justify-content: space-between;
      align-items: center;
      gap: 24px;
      position: relative;
      z-index: 2;

      @media (max-width:$md) {
         font-size: 18px;
         padding: rem(16);
      }

      &::after {
         content: '';
         flex: 0 0 40px;
         width: 40px;
         height: 40px;
         display: block;
         background: url(../img/icons/arrow-dropdown.svg) center / 24px 14px no-repeat;
         transition: transform 0.3s ease 0s;

      }

      &._spoller-active {
         &::after {
            transform: rotate(-180deg);
         }
      }
   }

   // .faq-block__item-body

   &__item-body {
      transform: translateY(-16.7px);
      background: #2c2c2c;
      border-radius: 0 0 20px 20px;
      padding: rem(41) rem(40) rem(32) rem(25);
      line-height: 121%;

      @media (max-width:$md) {
         padding: rem(16);
         padding-top: rem(41);
      }
   }

   // .faq-block__image-ibg

   &__image-ibg {
      width: 568px;
      height: 799px;
      position: sticky;
      top: 20px;

      @media (max-width:$xxl) {
         width: 395px;
         height: 557px;
      }

      @media (max-width:$xl) {
         width: 312px;
         height: 439px;
      }

      @media (max-width:$lg) {
         display: none;
      }

      img {
         object-position: top;
      }
   }
}