.footer {
   background: var(--dark-black);
   margin-bottom: rem(80);
   padding-top: rem(80);
   border-top: 2px solid var(--dark-gray);

   @media (max-width:$lg) {
      padding-top: rem(40);
   }

   // .footer__container

   &__container {}

   // .footer__top

   &__top {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: rem(80);
      flex-wrap: wrap;
      gap: 40px;

      @media (max-width:$lg) {
         margin-bottom: rem(40);
      }
   }

   // .footer__logo

   &__logo {
      width: 279px;
      height: 76px;

      img {
         max-width: 100%;
      }
   }

   // .footer__socials

   &__socials {
      display: flex;
      gap: 16px;
      flex-wrap: wrap;
   }

   // .footer__link-social

   &__link-social {
      display: block;
      width: 48px;
      height: 48px;
      flex: 0 0 48px;

      img {
         max-width: 100%;
      }
   }

   // .footer__center

   &__center {
      display: grid;
      grid-template-columns: 252px 1fr 240px;
      gap: 175px;
      @include adaptiveValue("gap", 175, 0, 0, 1800, 1400);

      @media (max-width:$xl) {
         grid-template-columns: 252px 1fr;
         row-gap: 20px;
      }


      @media (max-width:$lg) {
         margin-bottom: rem(80);
      }

      @media (max-width:$md) {
         grid-template-columns: 1fr;
         gap: 64px;
      }
   }

   // .footer__contacts

   &__contacts {
      display: flex;
      flex-direction: column;
      gap: 24px;
   }

   // .footer__link

   &__link {
      font-weight: 400;
      font-size: 16px;
      display: grid;
      grid-template-columns: 24px 1fr;
      gap: 16px;

      .footer__policy & {
         display: block;

         &:not(:last-child) {
            margin-bottom: rem(32);
         }
      }

      // .footer__link_phone

      &_phone {
         font-size: 24px;
      }

      // .footer__link_email

      &_email {
         font-weight: 500;
         font-size: 18px;
         color: var(--light-blue);
         align-items: center;
      }
   }

   // .footer__addres

   &__addres {
      display: grid;
      grid-template-columns: 24px 1fr;
      gap: 16px;
      line-height: 24px;

      a {
         font-weight: 500;
         font-size: 18px;
         color: #33caff;
         grid-column: 2/3;
      }
   }

   // .footer__menu

   &__menu {
      // margin-left: rem(55);

      @media (max-width:$xl) {
         grid-row: 1/3;
         grid-column: 2/3;
      }

      @media (max-width:$lg) {
         // margin-left: rem(30);
      }

      @media (max-width:$md) {
         grid-row: auto;
         grid-column: auto;
         margin: 0;
      }
   }

   // .footer__policy

   &__policy {
      max-width: 200px;
   }

   // .footer__bottom

   &__bottom {
      margin-top: rem(-80);

      @media (max-width:$pc) {
         margin-top: rem(-50);
      }

      @media (max-width:$xl) {
         margin-top: rem(-19);
      }

      @media (max-width:$lg) {
         margin-top: rem(0);
      }
   }
}

.menu-footer {

   // .menu-footer__grid

   &__grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;

      @media (max-width:$xl) {
         grid-template-columns: 1fr 1.3fr;
      }

      @media (max-width:$sm) {
         grid-template-columns: 1fr;
         gap: 40px;
      }
   }

   // .menu-footer__col

   &__col {
      display: flex;
      flex-direction: column;

      @media (max-width:$xl) and (min-width:$sm) {
         &:nth-child(2) {
            grid-column: 1/2;
         }

         &:last-child {
            grid-row: 1/3;
            grid-column: 2/3;
         }
      }

      @media (max-width:$sm) {
         &:last-child {
            grid-row: 1;
         }
      }
   }

   // .menu-footer__link

   &__link {
      display: block;

      &:not(:last-child) {
         margin-bottom: rem(28);
      }
   }

   // .menu-footer__dropdown-block

   &__dropdown-block {
      @media (max-width:$sm) {
         .menu-footer__link[data-dropdown-button] {
            position: relative;
            display: flex;
            gap: 8px;
            align-items: center;
            margin-bottom: 0;

            &:after {
               content: "";
               display: block;
               width: 24px;
               height: 24px;
               background: url("@img/icons/arrow-dropdown.svg") center no-repeat;
               transition: all 0.3s ease 0s;
            }
         }

         &._dd-active {
            .menu-footer__link[data-dropdown-button] {
               margin-bottom: rem(24);

               &::after {
                  transform: rotate(-180deg);
               }

            }
         }
      }
   }

   // .menu-footer__dropdown

   &__dropdown {
      .menu-footer__link {
         font-size: 16px;

         &:not(:last-child) {
            margin-bottom: rem(20.5);
         }
      }

      @media (max-width:$sm) {
         max-height: 0;
         overflow: hidden;

         ._dd-active & {
            overflow: visible;
            max-height: 100%;
         }
      }
   }
}

.copyright {

   // .copyright__wrapper

   &__wrapper {
      display: grid;
      grid-template-columns: auto 1fr auto;
      align-items: end;

      @media (max-width:$lg) and (min-width:$sm) {
         grid-template-columns: 1fr 343px;
         grid-template-rows: 1fr auto;
      }

      @media (max-width:$sm) {
         grid-template-columns: 1fr;
      }
   }

   // .copyright__item

   &__item {
      padding-bottom: rem(25);
      font-size: 16px;

      @media (max-width:$lg) {
         padding-bottom: rem(8);
      }

      &:last-child {
         font-size: 14px;
         line-height: 157%;
         display: flex;
         gap: 7px;
         align-items: center;
      }
   }

   // .copyright__image

   &__image {
      margin-left: rem(172);
      width: 482px;
      height: 184px;

      @media (max-width:$pc) {
         width: 397px;
         height: 152px;
         margin-left: rem(67);
      }

      @media (max-width:$xl) {
         width: 312px;
         height: 121px;
         margin-left: rem(106);
      }

      @media (max-width:$lg) {
         height: auto;
         margin-left: 0;
      }

      @media (max-width:$lg) and (min-width:$sm) {
         grid-row: 1/3;
         grid-column: 2;
      }

      @media (max-width:$sm) {
         grid-row: 3;
         margin-top: rem(40);
         width: 100%;
         max-width: 343px;
      }

      img {
         max-width: 100%;
      }
   }

   // .copyright__svg

   &__svg {
      width: 75px;
      height: 13px;

      use {
         fill: var(--light-whit);
      }
   }
}